body{
    background-color: rgb(255, 255, 255);
    color: white;
    font-family:'Montserrat' ;
}
.header{
    margin: 0 auto;
    width: 96%;
    height: 50px;
    border: 3px solid gray;
    background: #000;
    position: relative;
    top: 0px;
}

.linka3, .linka2, .linka1 {
    opacity: 1;
    text-decoration: none;
    color: white;
    text-decoration: none;
    padding: 0px 24px;
    position: relative;
    left: 80%;
    top: -50px;
}
.titleh2{
    color: white;
    padding: 20px 0px;
    margin: 0px 0px;
    opacity: 1;
}
.sidebar{
    padding: 0.5em 1em;
    color: #fff;
    background-color: #333;
    border: 5px solid #000;
    float: right;
    width: 45%;
    height:100vh ;
}
.cards  {
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 355px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    color: black;
    border: 3px solid rgb(32, 32, 32);
}

.h2card {
    text-align: center;
    width: 100%;
    margin: 0;
    font-size: 1.25rem;
    color: #fff;
    background-color: #333;
}
.main{
    float: left;
    width:50%;
    color: black;
}
@media screen 
and (min-width:481px)
and (max-width:1024px){
    body{
        background-color: rgb(255, 255, 255);
    }
    .header{
        width: 100%;
    }
    .linka3, .linka2, .linka1{
        left: 60%;
    }
    .sidebar{
        width: 94.7%;
        height: auto;
    }
    .main{
        width: 100%;
    }
}
@media screen 
and (max-width:480px){
    html{
        width: 100%;
    }
    body{
        text-align: center;
    }
    .conteiner{
        text-align: center;
    }
    .header {  
        height: 150px;
        width: 100%;
        columns: 100px auto;
        display: grid;
        text-align: center;
        background-color: gray; 
    }
    .main{
        width: 100%;
    }
    
    .titleh2, .linka3, .linka2, .linka1 {
        display: grid;
        position: relative;
        width: 96%;
        padding: 3px;
        left: 0%;
        top: 1%;
    }
    .linka3, .linka2, .linka1{
        border-top: 2px solid rgb(70, 70, 70)
    }
    .sidebar{
        width: 97%;
        height: auto;
        box-sizing: border-box;
        text-align: center;
    }
    .h2tel{
        width: 100%;
    }
    .ptell{
        width: 100%;
    }
}